@tailwind base;
@tailwind components;
@tailwind utilities;

* {
font-family: monospace

}

body {
  background-image: url("/background-focus.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 100vh;
  width: 100vw;
}

.quick-example {
  margin: 1rem;
  padding: 1rem;
  transition: grid-template-rows 500ms;
}

.quick-example:hover {
  grid-template-rows: 1fr;
}
